<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/eloskutov/Documents/Projects/iDesktop/iDesktop</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2012-06-17T00:05:18Z</date>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
